doctype html
html(ng-app="App")
  head
    title= title
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/velocity/velocity.js")
    script(src="/vendor/moment/min/moment-with-locales.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/lumx/dist/lumx.js")
    script(src="/javascripts/login.js")

    link(rel="stylesheet", href="/vendor/lumx/dist/lumx.css")
  body
    .toolbar.bgc-indigo-500
      .toolbar__left(class="mr+++")
        a(href="/").btn.btn--l.btn--white.btn--icon(lx-ripple, lx-tooltip="หน้าหลัก", tooltip-position="right")
          i.mdi.mdi-windows
      span.toolbar__label.tc-white.fs-title Roiet-WebApp

    div(flex-container="row")
      div(flex-item="8", class="card p+")
        block content
